*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}   
header{
    display: flex;
    height: 150px;
   
    background-image: linear-gradient(pink,whitesmoke);
}
.heading{
    width: 80%;
    padding:0px 20px;
    margin: 0px  8%;
   
}
.heading h1{
    font-size: 70px;
    font-weight: 900;
    font-family: 'Uchen', serif;
    color: salmon;

}
.spoon{
    width: 20%;
    padding: 20px;
    margin: 20px  8%;
    color: yellowgreen;

   
}
.front-side{
    display: flex;
    margin-top: 0px;
    background-color: indigo;
 
}
.half-width{
    width: 50%;
    padding: 2% 5%;
    margin: 0 5%;
   


}
span{
   color: salmon;
}
.half-width h1{
    color: gray;
    font-size: 3.5rem;
    margin-bottom: 25px;
}
.half-width p{
    color: gray;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: honeydew;
    background-color: salmon;
    background-image:linear-gradient(salmon,orange);
    padding: 10px 15px;
    border-radius: 20px;

}
.about{
    display: flex;
    margin-top: 100px;
    padding: 10% 5%;
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}
.me{
    width: 50%;
    
    margin: 0 5%;
   
}
.me img{
    width: 300px;
    height: 465px;
}
.myself{
    width: 50%;
   
    margin: 0 5%;
   
}
.myself h1{
    font-size: 60px;
    color: gray;
    font-family: 'Uchen', serif;
    margin-bottom: 20px;

}
.myself p{
    font-size: 18px;
    color: grey;
    font-style: italic;
    margin-bottom: 70px;
}
.recipie{
    text-align: center;
    margin-top: 50px;
    padding: 5% 5%;
}
.recipie h1{
    font-size: 50px;
    color: grey;
    font-family: 'Uchen', serif;
    margin-bottom: 40px;

}
.description{
    text-align: center;
    margin: 10px 35%;
}
.description p{
    color: grey;
    font-size: 20px;
    font-family: font-family: 'Zen Loop', cursive;
    font-style: italic;
}
.items{
    display: flex;
    margin-top: 20px;
    
}
.food{
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px;
    box-shadow:10px 10px 20px black ;
    margin-left: 20px;
    
}
.food img{
    width: 98%;
    border-radius: 15px;
    height:60%
}
.food h1{
    margin-top: 10px;
    color: black;
    font-size: 30px;
    font-family: 'Uchen', serif;
    margin-bottom: 5px;
}
.food p{
    color: black;
    font-size: 15px;
    margin-bottom: 40px;
}
.item-about{
    margin: 0px 2%;
}
footer{
   padding-top: 1px;
    height: 125px;
   background-color: #000000;
    text-align: center;
}
footer h1{
    font-size: 20px;
   color: grey;
    font-family: 'Uchen', serif;
    margin-top: 25px;
    margin-bottom: 8px;
}
footer p{
    font-size: 16px;
    color: blanchedalmond;
}